.contacto {
    background: #49d0be;
    font-family: var(--neon);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 32px;
    gap: 10px /*16*/
}


.contacto__titulo{
    align-items: flex-start;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 10px;
    letter-spacing: 3px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e59142;
    text-shadow: 2px 0px white;
    font-weight: bold;
}


.contacto__subtitulo {
    margin-bottom: 5px;
}


.contacto__parrafo{
    margin-bottom: 20px;
}


.contacto__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.contacto__input{
    height: 40px;  
    width: 300px;
}


.contacto__input::placeholder {
    color:lightgrey; 
}


.contacto__textarea::placeholder {
    color:lightgrey; 
}


.formulario__grupo-input {
	position: relative;
}


.formulario__validacion-estado {
    position:absolute;
    right: 10px;
    top: 15px;
    z-index: 100;
    opacity: 1;
    color: #f66860;
}


.formulario__mensaje-error {
    height: 45px;
    line-height: 45px;
    background: #f66860;
    padding: 0 15px ;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    display: none;   
}


.formulario__mensaje-error-activo{
    display: block;
}


.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
}


.contacto__imagen {
    display: none; 
}


.formulario__btn {
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    background: #e59142;
    box-shadow: 0px 0px 3px 3px white;
    border: none;
    color: whitesmoke;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 18px;

    /* padding-top: 10px; */
}


.formulario__label {
    margin-bottom: 5px;
}


.formulario__mensaje-exito {
    padding: 10px 0;
    text-align: center;
    font-weight: 600;
    letter-spacing: .8px;
    display: none;
}


.formulario__mensaje-exito-activo {
    display: block;
}

/* ----------- Estilos para validacion ------------*/
.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border:3px solid  #bb2929;
    
}


/*----RESPONSIVE----*/
@media screen and (min-width:768px) {
    .contacto__input {
        width: 500px; 
        max-width: 800px;  
    }

    .formulario__btn {
        width: 300px;

    }

    .formulario__validacion-estado {
        position: absolute;
        right: 320px;
        top: 15px;
    }
}

@media screen and (min-width:900px) {
    .contacto {
        display: flex;
        flex-direction: row;
        padding: 32px;
        gap: 16px;
        align-items: center; 
    }

    .contacto__input {
        width: 500px;   
    }
 
    .contacto__imagen {
        display: flex;
        width: 90%;
        flex-grow: 1;
        padding-left: 30px;
    }

    .formulario__validacion-estado {
        position: absolute;
        left: 470px;
        top: 15px;
        z-index: 100;
        opacity: 0;
    }

    .formulario__btn {
        width: auto;
        font-family: var(--neon);
        letter-spacing: 3px;
        height: 35px;
        border-radius: 10px;


    }
    
}