.contacto {
    background: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 32px;
    gap: 10px /*16*/
}

.contacto__titulo{
    align-items: flex-start;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.contacto__subtitulo {
    margin-bottom: 5px;

}

.contacto__parrafo{
    margin-bottom: 20px;

}

.contacto__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacto__input{
    height: 40px;  
}

.contacto__input::placeholder {
    color:lightgrey; 
}

.contacto__textarea::placeholder {
    color:lightgrey; 
}

.contacto__imagen {
    display: none; 
}


/*----RESPONSIVE----*/
@media screen and (min-width:768px) {
    .contacto__input {
        width: 200px;   
    }
}

@media screen and (min-width:900px) {
    .contacto {
        display: flex;
        flex-direction: row;
        padding: 32px;
        gap: 16px;
        align-items: center; 
    }

    .contacto__input {
        width: 500px;   
    }
 
    .contacto__imagen {
        display: flex;
        width: 90%;
        flex-grow: 1;
        padding-left: 30px;
    }
}