.introduccion {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    padding: 32px;

}

.container__texto{
    line-height: 20px ;
}

.introduccion__imagen{
    width: 98px;
    height: 99px;
    max-width: 368px; 
    border-radius: 50%;
    padding: 0.5em;
    
}

.introduccion__titulo{
    font-weight: bold;
    margin-bottom: 10px;
  
}

.introduccion__redsocial{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    font-size: 14px;
    gap: 8px;
    margin-top: 10px;
    margin-bottom: 22px;
}

@media screen and (min-width: 768px) {
    .introduccion {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;  
    }
    
    
   
    
}