.menu {
    display: flex;
    align-items: center;
}

.menu__lista {
    font-size: 12px;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
}

.menu__item__link{
    margin-right: 1.25rem;
}

.menu__item__escritorio {
    display:none;
}

@media screen and (min-width:900px) {
    .menu__item__escritorio {
        display:flex;
    }
    
    
}