.skill{
    border-bottom: 1.5px solid;
    border-style: groove;
    font-family: var(--neon);
}
.skill__titulo {
    padding: 16px;
    font-family: var(--neon);
    font-weight: bold;
    letter-spacing: 3px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e59142;
    text-shadow: 2px 0px lightgray
}

.skill__items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 32px;
   
}

.skill__item {
    padding: 20px;
    
}


.skill__titulo{
    font-weight: bold;
    text-align: center;
    
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    
    letter-spacing: 3px;
}


.skill__imagen {
    width: 100px;
}

.skill__nombre {
    text-align: center;
    
}
