.sobremi{
    background :#49d0be;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 32px;
    gap: 10px;
    font-family: var(--neon);
    color: 

}

.titulo__intermedio {
    font-weight: bold;
    letter-spacing: 3px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e59142;
    text-shadow: 2px 0px white
}

.sobremi__texto {

    font-size: 1.3em;
    font-family: var(--neon);
    line-height: 26px;

}

.sobremi__firma {
    width: 200px;
    height: 80px;
}


@media screen and (min-width:768px) {
    .sobremi {
        padding: 22px; 
        gap: 15px;
    }
   
}

@media screen and (min-width:900px) {
    .sobremi {
        padding: 32px; 
    }

    .titulo__intermedio {
        font-size: 1.3em;
      

    }

    .sobremi__firma {
        width: 340px;
        height: 140px;

    
    }

}